@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
/*//////////////////////TOP*/
.navbar{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    /*border: 3px solid yellow;*/
    margin-bottom: 30px;
}
.nav-tittle{
    font-size: 30px;
    /*border: 3px solid gray;*/
    margin-left: 180px;
}
.nav-links{
    display: flex;
    flex-direction: row;
    /*border: 3px solid red;*/
    justify-content: space-around;
    flex: 1;
}
li{
    flex-direction: row;
    list-style: none;
    /*border: 3px solid fuchsia;*/
}
.navinf{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    /*border: 3px solid firebrick;*/
}
.myprofile{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.singout{
    color: white;
    background-color: cyan;
    border: 3px black;
    margin-left: 200px;
    padding: 1px 7px;
}

/*//////////////////////MIDDLE*/

.containermain{
    display: flex;
    /*align-items: center;*/
    /*border: 3px solid red;*/
    /*background-color: lightblue;*/
    font-family: 'Roboto', sans-serif;
    flex-direction:row;
}
.containerright{
    flex-direction: column;
    /*border: 3px solid red;*/
    padding-left: 150px;
}
.containerleft{
    display: flex;
    flex-direction: column;
    /*border: 3px solid red;*/
    padding-left: 20px;
}
.conatinerwhite{
    /*border: 3px solid orange;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin-bottom: 30px;
    border: 3px solid gray;
}
.headerimage{
    /*border: 3px solid navy;*/
    background-color: lightskyblue;
    height: 120px;
    vertical-align: top;
}
#profile1{
    border: 3px solid white;
    height: 120px;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 50%;
}
.cardbody{
    margin-top: 50px;
    /*border: 3px solid rosybrown;*/
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: justify;
    flex: 1;
    padding-left: 20px;
}
h1{
    font-size: 40px;
}
h4{
    font-size: 25px;
}
p{ 
    font-size: 20px;
}

.hipertext1{
    padding-top: 30px;
}

#mapicon{
    height: 20px;
}

#gearicon{
    height: 20px;
}

.educationinfo{
    /*border: 3px solid forestgreen;*/
    width: 500px;
    height: 200px;
}
.headereducation{
    /*border: 3px solid gold;*/
    background-color:dimgrey;
}
.education{
    font-size: 25px;
    color: white;
    margin-left: 25px;
}
.educationbody{
    border: 3px solid gray;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.p1{
    font-weight: bold;
    font-size: 20px;
}
.p2{
    font-weight: lighter;
    font-size: 15px;
}
.p3{
    font-weight: bold;
    font-size: 18px;
}

                            /*LEFT*/
.headerrequest{
    background-color: dimgrey;
    /*border: 3px solid orchid;*/
    padding: 10px;
    width: 300px;
}
.headerrequest2{
    background-color: dimgrey;
    /*border: 3px solid orchid;*/
    padding: 10px;
    width: 300px;
    margin-top: 30px;
}
.connectioninfo{
    border: 3px solid blue;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.request{
    font-size: 20px;
    color: white;
    text-align: center;
}
.userrequest{
    border: 3px solid white;
    height: 50px;
    border-radius: 35px;
    margin-right: 20px;
}
.aceptdeny{
    border: 3px solid white;
    height: 40px;
    border-radius: 35px;
    margin-top: 5px;
}
.requestbody{
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 313px;
    height: 200px;
}
.requestbody2{
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 313px;
    height: 350px;
}
.requestofusers{
    /*border: 3px solid purple;*/
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 15px;
}
.holdpname{
    display: flex;
    flex-direction: row;
}
.namesreq{
    margin-top: 12px;
    margin-right: 10px;
}
.yourconnections{
    border: 3px solid white;
    height: 50px;
    border-radius: 35px;
    margin-right: 20px;
}
.block2lefts{
    margin-top: 20px;
}
.viewmore{
    border: 3px solid gray;
    padding-right: 219px;
    font-family: 'Roboto', sans-serif;
    color: navy;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

span{
    background-color:gray;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    padding: 3px;
    font-size: 15px;
    margin-left: 10px;
}
/*
<div class="connectioninfo">
                    <div class="headerrequest">
                        <h1 class="request">
                            <span>2</span> Connection Request
                        </h1>
                    </div>
                    <div class="requestbody">
                        <div class="requestofusers">
                            <div class="holdpname">
                                <img class="userrequest" src="./todd-s.jpg" alt="Todd E user photo">
                                <p class="namesreq">
                                    Todd E
                                </p>
                            </div>
                            <div class="acceptDenyicons">
                                <img class="aceptdeny" src="./accept-circle.png" alt="accept icon">
                                <img class="aceptdeny" src="./close-circle.png" alt="close icon">
                            </div>
                        </div>
                        <div class="requestofusers">
                            <div class="holdpname">
                                <img class="userrequest" src="./phil-s.jpg" alt="Phill K user photo">
                                <p class="namesreq">
                                    Phill K
                                </p>
                            </div>
                            <div class="acceptDenyicons">
                                <img class="aceptdeny" src="./accept-circle.png" alt="accept icon">
                                <img class="aceptdeny" src="./close-circle.png" alt="close icon">
                            </div>
                        </div>
                    </div>
                </div>

<div class="headerrequest">
                        <h1 class="request">
                            <span>+500</span> Your Connections
                        </h1>
                    </div>
                    <div class="requestbody">
                        <div class="requestofusers">
                            <img class="yourconnections" src="./adrien-s.jpg" alt="Todd E user photo">
                            <p class="namesreq">
                                Adrien D
                            </p>
                        </div>
                        <div class="requestofusers">
                            <img class="yourconnections" src="./anne-s.jpg" alt="Todd E user photo">
                            <p class="namesreq">
                                Anne J
                            </p>
                        </div>
                        <div class="requestofusers">
                            <img class="yourconnections" src="./alayne-s.jpg" alt="Todd E user photo">
                            <p class="namesreq">
                                Alayne T
                            </p>
                        </div>
                        <div class="requestofusers">
                            <img class="yourconnections" src="./arry-s.jpg" alt="Todd E user photo">
                            <p class="namesreq">
                                Arry Y
                            </p>
                        </div>
                    </div>
                    <a class="viewmore" href="#">
                        View More
                    </a>*/